/* mochi2_header.css */
/* 全体 */
body {
    font-family: Meiryo, sans-serif;
    background: #ffffff;
    color: #000;
    margin: 0;
}
/* リンク */
a {
    color: #000;
    text-decoration: none;
}
/* テーブル 最小*/
table.layout {
    width: 100%;
    border-collapse: collapse;
}
table.layout td {
    padding: 1px 4px;
    vertical-align: middle;
}
/* ヘッダの検索input */
.flex{
    display: flex;
    align-items: flex-start;
}
.right {
    margin-left: auto;
    text-align: right;
}
.search-form {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}
.search-input {
    font-size: 1.25rem;
    width: 10em;
    flex-shrink: 1;
    min-width: 0;
}
.bgv-input {
    font-size: 1.25rem;
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
}
/* パンくず */
.breadcrumb {
    width: 100%;
}
/* パンくずリンク */
.breadcrumb a {
    color: #0066cc;
    text-decoration: none;
}
.breadcrumb a:hover {
    background: #def;
}
.breadcrumb a:active {
    background: #cdf;
}
/* セパレータ */
.breadcrumb span {
    margin: 0 4px;
    color: #666;
}
/* 現在位置 */
.breadcrumb .current {
    color: #000;
    font-weight: bold;
}

/* メニュー */
.menu {
    position: relative;
    display: inline-block;
}
/* ▼マーカー消す */
.menu summary {
    list-style: none;
    cursor: pointer;
}
.menu summary::-webkit-details-marker {
    display: none;
}
.menu-btn {
    padding: 4px 10px;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 6px;
}
.menu-content {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 180px;
    padding: 4px 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    z-index: 1000;
}
.menu-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}
.menu-content a:hover {
    background: #def;
}
.menu-content a:active {
    background: #cdf;
}
/* 超でかい */
.bbig {
    font-size: 2rem;
    font-weight: bold;
}
/* でかい */
.big {
    font-size: 1.4rem;
    font-weight: bold;
}
/* 中くらい */
.mid {
    font-size: 1.25rem;
    font-weight: bold;
}
.normal {
    font-weight: normal;
    line-height: 1;
}
.normal-gray {
    font-weight: normal;
    color: #444
}
.normal-blue {
    font-weight: normal;
    color: #448;
}
/* 小さい */
.small-n {
    font-size: 0.8rem;
    font-weight: normal;
}
/* ボタン */
.btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #448;
    padding: 2px 8px;
    border: 1px solid #aac;
    border-radius: 8px;
    background: #eef8ff;
    cursor: pointer;
}
.btn:hover {
    background: #def;
}
.btn:active {
    background: #cdf;
}

/* pre的 */
.pre-gray {
    font-size: 0.8rem;
    white-space: pre-wrap;
    padding: 10px 3px 3px 10px;
    background: #EEE;
}
.pre-allmp {
    font-size: 0.8rem;
    white-space: pre-wrap;
    padding: 10px 3px 3px 10px;
    background: #f8f8f8;
}
/* プレイリスト一覧 テーブル */
.pl-table {
    width: 100%;
    border-collapse: collapse;
}
/* プレイリスト一覧 行全体 */
.pl-tr td {
    padding: 4px 4px;
    vertical-align: middle;
}
.pl-tr-line0 td {
    padding: 1px 4px;
    vertical-align: middle;
    background: #ddf;
}
.pl-tr-line1 td {
    padding: 1px 4px;
    vertical-align: middle;
    background: #eee;
}
.pl-tr-line2 td {
    padding: 1px 4px;
    vertical-align: middle;
    background: #fff;
}
/* プレイリスト一覧 番号 */
.pl-no {
    text-align: right;
    font-weight: bold;
    background: #eee;
}
.pl-no1 {
    text-align: right;
    font-weight: bold;
    background: #f8f8f8;
}
/* プレイリスト一覧 アイコン */
.pl-icon {
    vertical-align: top;
    text-align: center;
    background: #eee;
}
.pl-icon-hover {
    text-align: center;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
.pl-img {
    height: 96px;
    object-fit: contain;
    border-radius: 6px;
}
.pl-sicon {
    float: right;
    height: 72px;
    margin-left: 10px;
    object-fit: contain;
    border-radius: 6px;
}
/* プレイリスト一覧 メイン */
.pl-main0 {
    font-weight: bold;
    width: 100%;
    background: #eee;
}
.pl-main1 {
    font-weight: bold;
    width: 100%;
    background: #f8f8f8;
}
.pl-main2 {
    font-weight: bold;
    width: 100%;
    background: #fff;
}
.pl-bmain {
    font-weight: normal;
    color: #448;
}
.pl-smain {
    font-weight: normal;
    color: #448;
}
.pl-bmain {
    font-weight: normal;
    color: #448;
}
/* プレイリスト一覧 コメント */
.pl-comment {
    font-size: 0.8rem;
    font-weight: normal;
    color: #444;
    background: #eee;
    vertical-align: top;
}
/* アンカー */
.link-hover a {
    padding: 1px 4px;
    border-radius: 3px;
}
/* ホバー*/
.pl-icon-hover:hover,
.link-hover:hover {
    background: #def;
}
/* クリック */
.pl-icon-hover:active,
.link-hover:active {
    background: #cdf;
}

/* リンクホバークリック */
.link-hover-b {
    font-weight: bold;
    color: #226;
    padding: 1px 4px;
    border-radius: 3px;
}
.link-hover-b:hover {
    background: #def;
}
.link-hover-b:active {
    background: #cdf;
}
.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #ddd;
    border-top: 5px solid #66f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}