/* mochi2_fancy.css */
/* 全体 */
body {
    font-family: Meiryo, sans-serif;
    background: #ffffff;
    color: #000;
    margin: 0;
}
/* タイトル */
h1 {
    display: none;
}
/* FancyIndex テーブル */
#indexlist {
    width: 100%;
    border-collapse: collapse;
}
/* ヘッダー */
#indexlist th {
    text-align: left;
    font-weight: normal;
    padding: 1px 5px;
    line-height: 1.4;
    background: #EEE;
    border-bottom: 1px solid #dcdcdc;
    color: #333;
}
/* セル */
#indexlist td {
    padding: 1px 5px;
    line-height: 1.4;
}
/* 偶数行 */
#indexlist tr.even {
    background: #f6f6ff;
}
/* リンク */
#indexlist a {
    color: #000;
    text-decoration: none;
    padding: 1px 4px;
    border-radius: 3px;
}
/* リンクホバー */
#indexlist a:hover {
    background: #def;
}
/* リンククリック中 */
#indexlist a:active {
    background: #cdf;
}
/* アイコン列 */
#indexlist .indexcolicon {
    width: 1%;
}
/* サイズ列 */
#indexlist .indexcolsize {
    text-align: right;
    color: #444;
    width: 1%;
    white-space: nowrap;
}